@using System.Web.Optimization

<!DOCTYPE html>

<html>
	<head>
		<title>Log Whatever</title>
		<link href="~/css" rel="stylesheet" type="text/css" />
	</head>
	<body>
		
		<input type="hidden" id ="timezone-offset" />

		<div class="header">
			<div class="menu hidden">
				<a data-navigation="dashboard">Dashboard</a>
			</div>
			<div class="user">
				<div id="user-account">
					<img src="Images/user-account-icon.png" alt="" />
					<span></span>
				</div>
				<div id="sign-out">
					<img src="Images/sign-out-icon.png" alt="" />
					<span>Sign Out</span>
				</div>
				<div data-navigation="log-some-stuff">
					<img src="Images/log-icon.png" alt="" />
					<span>Log Some Stuff</span>
				</div>
			</div>
		</div>
		
		<div class="feedback error" id="feedback">
			<span>Oh noes! An error!</span>
		</div>
		
		<div class="container">
			<div class="unsupported-browser non-tile hidden">
				<h3>Unsupported browser :(</h3>
				<span>Unforunately, it looks as though you're using an unsupported browser. That sucks. We recommend you use the latest version of any of the major browsers, but, failing that, at least try to have Internet Explorer 9, Firefox 22 or Chrome 25 installed; these are the browsers we've tested the application on. Thanks, and sorry for the inconvenience!</span>
			</div>	
			<div class="content hidden"></div>
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
		@Scripts.Render("~/js")
		<script type="text/javascript">
			LogWhatever.Configuration = { VirtualDirectory: "@Url.Content("~/")" };
		</script>
	</body>
</html>