<style type="text/css">
	div.add { float:left; width:100%; }
	div.add input[type='text'] { font-size:10px; padding:5px 6px; }
	div.add input[type='text'].error { border-color:#F00; }
	div.add>div>div { float:left; width:33.33333%; margin-top:0px; display:table-cell; border-left:solid 2px #EEE; box-sizing:border-box; padding-left:20px; padding-right:20px; }
	div.add>div>div.info { float:left; width:100%; border-left:0px; margin-bottom:10px; border-bottom:solid 0px #EEE; padding-bottom:10px; padding-right:0px; }
	div.add>div>div.info>button { float:right; margin-left:10px; width:100px; }
	div.add>div>div:last-child { padding-right:0px; }
	div.add>div>div>h5 { float:left; width:100%; }
	div.add>div>div>span { float:left; width:100%; color:#AAA; margin-top:5px; }
	div.add>div>div.name { border-left:none; padding-left:0px; }
	div.add>div>div.name>input[type='text'] { float:left; width:100%; margin-top:5px; }
	div.add>div>div.name>#name { margin-top:8px; }
	div.add>div>div.name>#date { width:49%; margin-right:1%; }
	div.add>div>div.name>#time { width:49%; margin-left:1%; }
	div.add>div>div.values>div { float:left; width:100%; margin-top:8px; }
	div.add>div>div.measurements>div>input[type='text'] { float:left; width:32%; margin-left:2%; margin-top:0px; }
	div.add>div>div.measurements>div>input[type='text']:first-child { margin-left:0px; }
	div.add>div>div.tags>div>input[type='text'] { float:left; width:100%; }
	div.add>div>div.tags>div>input[type='text']:first-child { margin-left:0px; }
	div.add>div>div.values>div>button { float:left; width:100%; margin-top:5px; }
</style>

<div class="tile add">
	<div>
		<div class="info">
			<button id="save">Save</button>
			<button id="cancel">Cancel</button>
		</div>
		<div class="name">
			<h5>Name:</h5>
			<span>The name of the log is its identifier. If you're logging something that you've logged before, make sure you enter the same name as before to keep a running record of your activity.</span>
			<input type="text" id="name" value="Name?" />
			<input type="text" id="date" value="@DateTime.Now.ToShortDateString()" />
			<input type="text" id="time" value="12:00 AM" />
		</div>
		<div class="values measurements">
			<h5>Measurements:</h5>
			<span>Add any measurements (and their optional units) here. A measurement would be the duration of your run, for example. You can have many measurements; another example would be how far you ran.</span>
			<div>
				<input type="text" class="measurement-name" value="Name?" />
				<input type="text" class="measurement-quantity" value="How many?" />
				<input type="text" class="measurement-units" value="What units?" />
				<button id="new-measurement">New Measurement</button>
			</div>
		</div>
		<div class="values tags">
			<h5>Tags:</h5>
			<span>Tags should indicate something to do with the event you're logging. For example, if you're tracking weight lifting, a tag could be the exercise you performed while the measurement would be the amount lifted.</span>
			<div>
				<input type="text" class="tag-name" value="Name?" />
				<button id="new-tag">New Tag</button>
			</div>
		</div>
	</div>
</div>