@using LogWhatever.MvcApplication.Views
<style type="text/css">
	div.sign-in { padding-right:10px; width:300px; }
	div.sign-in>div>div>input[type='checkbox'] { float:left; margin-top:7px; }
	div.sign-in>div>div>label { float:left; color:#777; margin-left:5px; margin-top:5px; }
	div.register { width:600px; }
</style>

<div class="tile sign-in">
	<div class="form">
		<h3>Sign In</h3>
		@Builder.FormText("Email address:", "email-address")
		@Builder.FormPassword("Password:", "password")
		<div>
			<input type="checkbox" id="stay-signed-in" />
			<label for="stay-signed-in">Stay signed in</label>
			<button>Sign In</button>
		</div>
	</div>
</div>

<div class="tile register">
	<div>
		<h3>Register</h3>
		<div></div>
	</div>
</div>