@using System.Web.Optimization

<!DOCTYPE html>

<html>
	<head>
		<title>Log Whatever</title>
		<link href="~/css" rel="stylesheet" type="text/css" />
		<link href='http://fonts.googleapis.com/css?family=Gafata|Karla|Rambla' rel='stylesheet' type='text/css'>
	</head>
	<body>
		
		<header>
			<div class="menu">
				<div id="dashboard" class="selected" data-navigation="dashboard">
					<span>Dashboard</span>
					<img src="@Url.Content("~/Images/menu-selected-icon.png")" alt="" />
				</div>
			</div>
			<div class="user">
				<a></a>
				<a id="log-out">Sign Out</a>
			</div>
		</header>
		
		<div class="content"></div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
		@Scripts.Render("~/js")
		<script type="text/javascript">
			LogWhatever.Configuration = { VirtualDirectory: "@Url.Content("~/")" };
		</script>
	</body>
</html>
