@using System.Web.Optimization

<!DOCTYPE html>

<html>
	<head>
		<title>Log Whatever</title>
		<link href="~/css" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Signika:300" rel="stylesheet" type="text/css">
	</head>
	<body>
		
		<header>
			<div class="menu">
				<a  data-navigation="dashboard">Dashboard</a>
			</div>
			<div class="user">
				<div>
					<span id="user-name"></span>
					<span id="sign-out">Sign Out</span>
				</div>
				<button class="logger">Log Some Stuff</button>
			</div>
		</header>
		
		<div class="feedback error" id="feedback">
			<span>Oh noes! An error!</span>
		</div>
		
		<div class="container">
			<div class="tile logger hidden ignore">
				<div>
					<div class="header">
						<h3>Log Some Stuff</h3>
						<button id="logger-cancel">Cancel</button>
						<button id="logger-save">Save</button>
					</div>
					<div class="name">
						<h5>Name:</h5>
						<span>The name of the log is its identifier. If you're logging something that you've logged before, make sure you enter the same name as before to keep a running record of your activity.</span>
						<input type="text" id="name" value="Name?" />
						<input type="text" id="date" />
						<input type="text" id="time" value="12:00 AM" />
					</div>
					<div class="values measurements">
						<h5>Measurements:</h5>
						<span>Add any measurements (and their optional units) here. A measurement would be the duration of your run, for example. You can have many measurements; another example would be how far you ran.</span>
						<div class="new">
							<input type="text" class="measurement-name cb" value="Name?" />
							<input type="text" class="measurement-quantity cb" value="How many?" />
							<input type="text" class="measurement-units cb" value="What units?" />
							<button id="add-measurement">Add</button>
						</div>
						<div class="added"></div>
					</div>
					<div class="values tags">
						<h5>Tags:</h5>
						<span>Tags should indicate something to do with the event you're logging. For example, if you're tracking weight lifting, a tag could be the exercise you performed while the measurement would be the amount lifted.</span>
						<div class="new">
							<input type="text" class="tag-name cb" value="Name?" />
							<button id="add-tag">Add</button>
						</div>
						<div class="added"></div>
					</div>
				</div>
			</div>
			<div class="content hidden"></div>
		</div>

		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
		@Scripts.Render("~/js")
		<script type="text/javascript">
			LogWhatever.Configuration = { VirtualDirectory: "@Url.Content("~/")" };
		</script>
	</body>
</html>