div.logger div.header { float:left !important; width:100% !important; margin-bottom:10px; padding:0 !important;}
div.logger div.header>button { float:right; margin-left:10px; width:100px; }
div.logger div.header>h3 { float:left; color:#498FCC; }

div.logger { float:left; width:100%; margin-bottom:1%; }
div.logger input[type='text'] { font-size:0.8333em; padding:5px 6px; }
div.logger input[type='text'].error { border-color:#F00; }
div.logger>div { height:100%; }
div.logger>div>div { float:left; width:33.33333% !important; margin-top:0px !important; display:table-cell; box-sizing:border-box; padding-left:20px; padding-right:20px; height:100%; }
div.logger>div>div.info { float:left; width:100%; border-left:0px; margin-bottom:10px; border-bottom:solid 0px #EEE; padding-bottom:10px; padding-right:0px; }
div.logger>div>div.info>button { float:right; margin-left:10px; width:100px; }
div.logger>div>div:last-child { padding-right:0px; }
div.logger>div>div>h5 { float:left; width:100%; }
div.logger>div>div>span { float:left; width:100%; color:#888; margin-top:5px; }
	
div.logger div.name { border-left:none !important; padding-left:0px !important; }
div.logger div.name>input[type='text'] { float:left; width:100%; margin-top:5px; }
div.logger div.name>#name { margin-top:8px; }
div.logger div.name>#date { width:49%; margin-right:1%; }
div.logger div.name>#time { width:49%; margin-left:1%; }div.logger 
div.logger div.name>#logger-cancel { float:left; width:49%; margin-right:1%; margin-top:5px; }
div.logger div.name>#logger-save { float:right; width:49%; margin-left:1%; margin-top:5px; }
	
div.logger div.values>div { float:left; width:100%; margin-top:3px; }
div.logger div.values>div.new { margin-top:8px !important; }
div.logger div.values>div.new>input[type='text'] { height:24px; }
div.logger div.values>div.new>input[type='text'].measurement-name { float:left; width:34%; }
div.logger div.values>div.new>input[type='text'].measurement-quantity { float:left; width:20%; margin-left:2%; }
div.logger div.values>div.new>input[type='text'].measurement-units { float:left; width:20%; margin-left:2%; }
div.logger div.values>div.new>input[type='text'].tag-name { float:left; width:78%; }
div.logger div.values>div.new>button { float:left; width:20%; margin-left:2%; height:24px; }

div.logger div.measurements>div.added>div { float:left; width:100%; margin-top:5px; padding:5px; box-sizing:border-box; background-color:#EEE; border-radius:3px; }
div.logger div.measurements>div.added>div>div { float:left; width:60%; }
div.logger div.measurements>div.added>div>div>h5.name { float:left; width:100%; }
div.logger div.measurements>div.added>div>div>span.unit { float:left; width:100%; font-size:0.8333em; color:#666; }
div.logger div.measurements>div.added>div>input { float:right; width:30%; margin-left:1%; margin-right:5px; }
div.logger div.measurements>div.added>div>img { float:right; width:12px; height:12px; cursor:pointer; margin-top:7px; }

div.logger div.tags>div.new { margin-bottom:5px; }
div.logger div.tags>div.added>div { float:left; width:49.5%; margin-right:1%; margin-top:3px; padding:7px; padding-bottom:4px; box-sizing:border-box; background-color:#EEE; border-radius:3px; cursor:pointer; }
div.logger div.tags>div.added>div:nth-child(even) { margin-right:0%; }
div.logger div.tags>div.added>div>h5 { float:left; width:100%; display:block; line-height:12px; }