html { background:#DCEDF2 -webkit-gradient(linear, 0% 0%, 0% 100%, from(#A4DAEB), to(#DCEDF2)) no-repeat; height:100%; }
body { background-color:#FFF; margin:0; padding:0; font-family:helvetica, 'Signika', helvetica; font-size:12px; }

div.container { float:left; width:100%; height:500px; box-sizing:border-box; padding:1%; border-top:solid 3px #70C8EB; }
div.content { float:left; width:100%; display:table; }

h1 { font-family:itc-franklin-gothic-standard; font-size:28px; text-transform:uppercase; margin:0; padding:0; }
h2 { font-family:itc-franklin-gothic-standard; font-size:24px; text-transform:uppercase; margin:0; padding:0; }
h3 { font-family:itc-franklin-gothic-standard; font-size:20px; text-transform:uppercase; margin:0; padding:0; }
h4 { font-family:itc-franklin-gothic-standard; font-size:16px; text-transform:uppercase; margin:0; padding:0; }
h5 { font-family:itc-franklin-gothic-standard; font-size:12px; text-transform:uppercase; margin:0; padding:0; }
h6 { font-family:itc-franklin-gothic-standard; font-size:10px; text-transform:uppercase; margin:0; padding:0; }

.hidden { display:none; }
.ellipsis { text-overflow:ellipsis; overflow:hidden; white-space:nowrap; }

button { font-family:itc-franklin-gothic-standard; text-transform:uppercase; background:-webkit-linear-gradient(top, #5F93CF, #2A67AD); color:#DDD; padding:3px 8px; margin:0px; border-radius:3px; border:none; cursor:pointer; }
input[type='text'], input[type='password'] { border:solid 1px #CCC; padding:3px 5px; box-sizing:border-box; border-radius:3px; }
input.error { border-color:red !important; }

div.tile { display:table-cell; box-sizing:border-box; background-color:transparent; }
div.tile>div { float:left; width:100%; background-color:#FFF; border-radius:4px; box-sizing:border-box; padding:15px; }
div.tile>div>h3 { float:left; width:100%; color:#498FCC; }
div.tile>div>div { float:left; width:100%; margin-top:10px; }

header { float:left; width:100%; height:45px; background-color:#333; color:#DDD; padding:10px 15px; box-sizing:border-box; font-size:1em; }
header>div.user { float:right; display:none; }
header>div.user>button { float:left; background:-webkit-linear-gradient(top, #356EB0, #0C4B94); border:solid 1px #666; margin-left:10px; }
header>div.user>div { float:left; }
header>div.user>div>span { float:left; width:100%; cursor:pointer; font-size:8px; text-transform:uppercase; text-align:right; margin-right:10px; margin-top:1px; }
header>div.user>div>span:last-child { margin-right:0px; padding-right:0px; border-right:none; }
header>div.user>div>span:hover { text-decoration:underline; }
header>div.menu { float:left; }
header>div.menu>a { float:left; cursor:pointer; text-align:center; width:100%; font-size:16px; margin-top:2px; font-family:itc-franklin-gothic-standard; text-transform:uppercase; }
header.div.menu>a.selected { color:#34AB2E; }

div.subheader { float:left; width:100%; color:#FFF; background:#DDD; overflow:hidden; display:none; height:50px; border-bottom:solid 1px #BBB; }
div.subheader>div { float:left; width:100%; height:100%; }
div.subheader>div>button { float:left; margin-left:10px; margin-top:11px; }
div.subheader>div>button:first-child { margin-left:1%; }
div.subheader>div>img { float:right; margin-top:18px; margin-right:18px; cursor:pointer; }
div.subheader>div>span { float:left; margin-top:18px; margin-left:10px; color:#000; }

div.form>div { float:left; width:100%; margin-top:10px; }
div.form>div:first-child { margin-top:0px; }
div.form>div>span { float:left; width:100%; color:#777; text-transform:none; font-weight:normal; }
div.form>div>input[type='text'], div.form>div>input[type='password'] { float:left; width:100%; border:solid 1px #AAA; padding:5px; border-radius:3px; box-sizing:border-box; }
div.form>div>button { float:right; margin-left:5px; }
