@model IEnumerable<LogWhatever.Common.Models.Measurement>

@foreach (var measurement in Model)
{
	<div class="hidden new">
		<div>
			<h5 class="name ellipsis">@measurement.Name</h5>
			<span class="unit">@measurement.Unit</span>
		</div>
		<input type="text" />
	</div>
}