@model IEnumerable<LogWhatever.Common.Models.TagEvent>

@foreach (var tagEvent in Model)
{
	<div class="new hidden">
		<h5 class="ellipsis">@tagEvent.Name</h5>
		<img class="remove-tag" src="@Url.Content("~/Images/remove-icon.png")" alt=""/>
	</div>
}