<style type="text/css">
	div.logger { float:left; width:100%; margin-bottom:1%; }
	div.logger input[type='text'] { font-size:10px; padding:5px 6px; }
	div.logger input[type='text'].error { border-color:#F00; }
	div.logger>div { height:100%; }
	div.logger>div>div { float:left; width:33.33333%; margin-top:0px; display:table-cell; box-sizing:border-box; padding-left:20px; padding-right:20px; height:100%; }
	div.logger>div>div.info { float:left; width:100%; border-left:0px; margin-bottom:10px; border-bottom:solid 0px #EEE; padding-bottom:10px; padding-right:0px; }
	div.logger>div>div.info>button { float:right; margin-left:10px; width:100px; }
	div.logger>div>div:last-child { padding-right:0px; }
	div.logger>div>div>h4 { float:left; width:100%; }
	div.logger>div>div>span { float:left; width:100%; color:#AAA; margin-top:5px; }
	
	div.name { border-left:none !important; padding-left:0px !important; }
	div.name>input[type='text'] { float:left; width:100%; margin-top:5px; }
	div.name>#name { margin-top:8px; }
	div.name>#date { width:49%; margin-right:1%; }
	div.name>#time { width:49%; margin-left:1%; }
	div.name>#logger-cancel { float:left; width:49%; margin-right:1%; margin-top:5px; }
	div.name>#logger-save { float:right; width:49%; margin-left:1%; margin-top:5px; }
	
	div.values>div { float:left; width:100%; margin-top:3px; }
	div.values>div.new { margin-top:8px !important; }
	div.values>div.new>input[type='text'] { height:24px; }
	div.values>div.new>input[type='text'].measurement-name { float:left; width:34%; }
	div.values>div.new>input[type='text'].measurement-quantity { float:left; width:20%; margin-left:2%; }
	div.values>div.new>input[type='text'].measurement-units { float:left; width:20%; margin-left:2%; }
	div.values>div.new>input[type='text'].tag-name { float:left; width:78%; }
	div.values>div.new>button { float:left; width:20%; margin-left:2%; height:24px; }

	div.measurements>div.added>div { float:left; width:100%; margin-top:5px; padding:5px; box-sizing:border-box; background-color:#EEE; border-radius:3px; }
	div.measurements>div.added>div>div { float:left; width:60%; }
	div.measurements>div.added>div>div>h5.name { float:left; width:100%; }
	div.measurements>div.added>div>div>span.unit { float:left; width:100%; font-size:10px; color:#999; }
	div.measurements>div.added>div>input { float:right; width:30%; margin-left:1%; margin-right:5px; }
	div.measurements>div.added>div>img { float:right; width:12px; height:12px; cursor:pointer; margin-top:7px; }

	div.tags>div.new { margin-bottom:5px; }
	div.tags>div.added>div { float:left; width:49.5%; margin-right:1%; margin-top:3px; padding:7px; padding-bottom:4px; box-sizing:border-box; background-color:#EEE; border-radius:3px; }
	div.tags>div.added>div:nth-child(even) { margin-right:0%; }
	div.tags>div.added>div>h5 { position:relative; margin-right:18px; display:inline; line-height:12px; }
	div.tags>div.added>div>img { float:right; width:12px; height:12px; cursor:pointer; }
</style>

<div class="tile logger hidden ignore">
	<div>
		<div class="name">
			<h4>Name:</h4>
			<span>The name of the log is its identifier. If you're logging something that you've logged before, make sure you enter the same name as before to keep a running record of your activity.</span>
			<input type="text" id="name" value="Name?" />
			<input type="text" id="date" />
			<input type="text" id="time" value="12:00 AM" />
			<button id="logger-cancel">Cancel</button>
			<button id="logger-save">Save</button>
		</div>
		<div class="values measurements">
			<h4>Measurements:</h4>
			<span>Add any measurements (and their optional units) here. A measurement would be the duration of your run, for example. You can have many measurements; another example would be how far you ran.</span>
			<div class="new">
				<input type="text" class="measurement-name" value="Name?" />
				<input type="text" class="measurement-quantity" value="How many?" />
				<input type="text" class="measurement-units" value="What units?" />
				<button id="add-measurement">Add</button>
			</div>
			<div class="added"></div>
		</div>
		<div class="values tags">
			<h4>Tags:</h4>
			<span>Tags should indicate something to do with the event you're logging. For example, if you're tracking weight lifting, a tag could be the exercise you performed while the measurement would be the amount lifted.</span>
			<div class="new">
				<input type="text" class="tag-name" value="Name?" />
				<button id="add-tag">Add</button>
			</div>
			<div class="added"></div>
		</div>
	</div>
</div>