<style type="text/css">
	div.log-column { float:left; width:19.2%; margin-right:1%; height:500px; }
	div.log-column:nth-child(5n+1) { margin-right:0; }
	div.log { float:left; width:100%; margin-bottom:15px; cursor:pointer; }
	div.log>span { float:left; width:100%; color:#888; font-size:0.9167em; }
	div.log>div { float:left; width:100%; font-size:0.92em; }
	div.log>div.measurements>div { float:left; width:100%; }
	div.log>div.measurements>div>span.name { float:left; font-weight:bold; text-transform:uppercase; }
	div.log>div.measurements>div>span.value { float:right; }
	div.log>div.tags { margin-top:5px;  }
	div.log>div.tags>div { float:left; width:auto; margin-top:3px; margin-right:3px; }
	
	div.non-tile { float:left; width:100%; }
</style>

{{if data != null}}
	{{each(i, logColumn) data}}
		<div class="log-column">
			{{each(j, log) logColumn}}
				<div class="tile log">
					<h3>${log.Name}</h3>
					<span>{{html formatUTCStringToShortDateString(log.Date) + " " + formatDateToShortTimeString(log.Date) }}</span>
					<div class="tags">
						{{each(k, measurement) log.Measurements}}
							<div class="floating-tag">${measurement.Name ? measurement.Name + ' / ' : ''}${measurement.Quantity.toFixed(2)}${measurement.Unit ? ' ' + measurement.Unit : ''}</div>
						{{/each}}
						{{each(k, tag) log.Tags}}
							<div class="floating-tag">${tag.Name}</div>
						{{/each}}
					</div>
				</div>
			{{/each}}
		</div>
	{{/each}}
{{else}}
	<div class="non-tile">
		<h3>You've logged no data!</h3>
		<span>You have yet to record any data with us. You can begin by clicking <a href="#/log-some-stuff">here</a> to log some stuff, or by clicking the "Log Some Stuff" link in the upper right corner. You can log whatever you want; the number of apples you had yesterday, how far you ran last week, or the number of times your newborn baby woke up last night <i>I'm so tired</i>.</span>
	</div>
{{/if}}