<style type="text/css">
	div.events { float:left; width:450px; }
	div.charts { position:relative; margin-left:465px; }

	div.charts>div>div { margin-top:0px; }
	div.charts>div>h4 { float:left; width:100%; color:#498FCC; margin-bottom:10px; }
	div.charts>div { height:100%; }

	div.charts div.measurements-chart { float:left; width:69%; margin-left:1%; height:300px; }
	div.charts div.tag-ratios-chart { float:left; width:30%; height:300px; }
	div.charts div.events-per-week-chart { float:left; width:69%; margin-right:1%; height:300px; margin-top:1%; }
	div.charts div.popular-days-chart { float:left; width:30%; margin-top:1%; height:300px; }
</style>

<div class="events">
	{{each(i, event) data}}
		<div class="tile event">
			<h4>{{html formatDateToShortDateString(event.Date)}}</h4>
			<span>{{html formatDateToShortTimeString(event.Date)}}</span>
			<div class="tags">
				{{each(k, measurement) event.Measurements}}
					<div class="floating-tag">${measurement.Name ? measurement.Name + ' / ' : ''}${measurement.Quantity.toFixed(2)}${measurement.Unit ? ' ' + measurement.Unit : ''}</div>
				{{/each}}
				{{each(k, tag) event.Tags}}
					<div class="floating-tag">${tag.Name}</div>
				{{/each}}
			</div>
		</div>
	{{/each}}
</div>
	
<div class="charts">
	<div class="tile tag-ratios-chart">
		<h4>Tag Ratios</h4>
		<div class="chart" id="tag-ratios-chart"></div>
	</div>
	<div class="tile measurements-chart">
		<h4>Measurements</h4>
		<div class="chart" id="measurements-chart"></div>
	</div>
	<div class="tile events-per-week-chart">
		<h4>Event Count</h4>
		<div class="chart" id="events-per-week-chart"></div>
	</div>
	<div class="tile popular-days-chart">
		<h4>Popular Days</h4>
		<div class="chart" id="popular-days-chart"></div>
	</div>
</div>